

<div class="block-login-form__login-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <!--<div class="form-title" ng-bind-html="'login.form.title' | translate"></div>-->

                <form name="{{form_name}}"
                      class="block-newsletter-form__form"
                      id="{{form_name}}"
                      sf-schema="schema"
                      sf-form="form"
                      sf-model="model"
                      ng-submit="onSubmit($event)"
                      ng-hide="form_success">

                    <div sf-insert-field="['email']"></div>

                    <button type="submit"
                            class="btn btn-primary btn-form"
                            ng-bind-html="'form.submit' | translate"></button>

                </form>
            </div>
        </div>
    </div>
